<div class='country-fields'>
    <tr>
     <td> </td><td> </td><td> </td><td> </td><td><%= f.input :name, label: ' ' %></td>
      <td><%= link_to_remove_association "Remove", f %></td>
    </tr>
</div>

