<div class="nested-fields">
    <tr>
     <td> </td><td> </td><td> </td><td> </td><td><%= f.input :name, label: ' ' %></td>
      <td><div id='remove-state'><%= link_to_remove_association "Remove", f %></div></td>
    </tr>
</div>

