<footer class="footer">
  <small>
    The navigation bar
  </small>
  <nav>
    <ul>
      <li><%= link_to "Continents", continents_path %></li>
      <li><%= link_to "Regions", regions_path %></li>
      <li><%= link_to "Country", countries_path %></li>
    </ul>
  </nav>
</footer>